@{
    ViewBag.Title = "Netflix and Chill";
    Layout = null;
}

<!DOCTYPE html>
<HTML>
<head>

    
    <meta charset="UTF-8">
    <link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet">
    @Styles.Render("~/Content/stilmall.css")
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


</head>
<body>
    <container>
        <header>
            <div id="headerdiv">
                <div id="headercolor">
                    <img id="netflix" src="@Url.Content("~/Content/img/Netflix_logo.png")" alt="netflixlogo">
                </div>
                <div>
                    <p id="logotext"> and chill </p>
                </div>
            </div>
        </header>
        <div class="container">



            @using (Html.BeginForm("LoveCalculator", "Home", FormMethod.Post, new { @class = "form-horizontal names-form" }))
            {
                <div class="form-group">



                    <div class="col-xs-3 col-xs-offset-3">
                        @Html.TextBox("name1", "", new { @class = "form-control", placeholder = "Name 1" })
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBox("name2", "", new { @class = "form-control", placeholder = "Name 2" })
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-5">
                    <input type="submit" class="btn btn-success btn-lg names-submit-btn" />
                </div>

            }
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img id="heart" src="@Url.Content("~/Content/img/heart.png")" alt="heart">
                    </div>
                    <div class="col-md-4">
                        <img id="pizza" src="@Url.Content("~/Content/img/truck.png")" alt="pizza">
                    </div>

                    <div class="col-md-4">
                        <img id="TV" src="@Url.Content("~/Content/img/TV.png")" alt="TV">
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3> Love at first sight </h3>
                </div>
                <div class="col-md-4">
                    <h3> Here comes pizza! </h3>
                </div>

                <div class="col-md-4">
                    <h3> Flix some love action </h3>
                </div>
            </div>
        </div>

        <footer></footer>
    </container>
</body>
</HTML>