@{
    ViewBag.Title = "Netflix and Chill";
    Layout = null;
}

<!DOCTYPE html>
<HTML>
<head>


    <meta charset="UTF-8">
    <link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @Styles.Render("~/Content/stilmall.css")




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


</head>
<body>
    <container>
        <header>
            <div id="headerdiv">
                <div id="headercolor">
                    <img id="netflix" src="@Url.Content("~/Content/img/Netflix_logo.png")" alt="netflixlogo">
                </div>
                <div>
                    <p id="logotext"> and chill </p>
                </div>
            </div>
        </header>
            <div class="container">
                <div class="row" id="loverow">
                    <div class="col-md-4">
                        <p class="name">@ViewBag.name1</p>


                    </div>
                    <div class="col-md-4">
                        <img id="heart" src="@Url.Content("~/Content/img/heart.png")" alt="heart">


                    </div>

                    <div class="col-md-4">
                        <p class="name">@ViewBag.name2</p>

                    </div>

                </div>
                    <div class="movietitlediv">
                        <h1 id="movietitle">IT'S A @ViewBag.LoveValue% LOVE MATCH!</h1>

                </div>
                <h2 style="text-align:center;">
                    Make the most out of your match! Here is some tips for the night!
                </h2>
                <div class="row" style="margin-top: 60px;">
                    <div class="col-md-4">
                        <img id="poster" src="@ViewBag.Poster" />

                    </div>
                    <div class="col-md-8">
                        <h2>@ViewBag.Movietitle</h2>
                        <p id="plot">@ViewBag.Plot</p>
                        <p id="rating">Imdb rating: @ViewBag.Rating</p>
                    </div>
                </div>
                <div class="movietitlediv">
                    <h1 id="pizzah1">Get your pizza on a restaurant near you</h1>
                </div>
                <div class="iframe">
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=pizza&key=AIzaSyBK9HLXMscqbhZKTgcHrjXdohbtSX8gjfg" allowfullscreen></iframe>
                    <br />
                    <br />
                 </div>

                

                
            </div>
        </body>
</HTML>

