
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Love</title>
</head>
<body>
    <div> 
        @ViewBag.Movietitle
        <img src="@ViewBag.Poster" />
        @ViewBag.Plot
        @ViewBag.Rating
        @ViewBag.LoveValue
    </div>
</body>
</html>
